.cart{
    border: 1px solid black;
    margin: 10;
    padding: 10px;

    .remove-btn{
        border-radius: 10px ;
        font-size: 1rem;
        padding: 5px;
    }
    
}
.buynow{
    background-color: #143d59;
    font-size: 1rem;
    color: white;
    padding: 10px;
    margin: 10px

}
